.home-container {
  position: relative;
  text-align: center;
  color: white;
}

.home-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.home-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.home-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.home-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.home-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes imgHover {
  from {filter:brightness(80%); filter:contrast(80%)}
  to {filter:brightness(100%); filter:contrast (100%)}
}

img {
  filter: brightness(100%);
  /* filter: contrast(100%) */
}

img:hover {
  filter: brightness(120%);
  /* filter: contrast(115%); */
  transition: 0.3s;
}